#Main {
  min-height: 100vh;
  background: #1A2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #302b63, #00bcd4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #302b63, #00bcd4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
